/* This is where each "component" get styled. Notice that I use
   class selectors to style each thing independently. Notice also, that I use Flexbox to layout
   many of these components. Aside from the flex layouts, most of this styling is currently
   background colors, borders and sizing just to make it obvious where the rectangles are when you
   run the app.
*/
.container {
  display: flex;
  flex-direction: column;
}

.ChampionsList {
  background-color: black;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 55px;
  column-gap: 40px;
  flex: 1;
  overflow: auto;
}

/* Why or how did I pick these dimensions 120px by 218px? First, I think I want to use the champion
   loading images here. I know from researching that the champion loading images are 308px by 560px.
   Using simple math, I calculated (roughly) what the height of the image should be if I wanted a width
   of 120px. 308 divided by 560 is .55. So to get 218 (roughly), you divide 120 by .55. I chose 120px as
   the width because it's big enough to show the image. I may tweak these dimensions in the future depending
   upon how things look. But using this simple math formula allows me to retain the aspect ratio of the image
   without causing it to skew.
 */
.ChampionPanel {
  cursor: pointer;
  background-color: black;
  height: 218px;
  width: 120px;
  display: flex;
  flex-direction: column;
}

.Header {
  height: 100px;
  background-color: green;
}

.image {
  height: 218px;
  width: 126px;
  border: 1px solid white;
}

.image.highlight {
  animation-name: imageHighlight;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.image.unhighlight {
  animation-name: imageUnhighlight;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes imageHighlight {
  from { border: 1px solid white; height: 218px; width: 126px; }
  to { border: 1px solid dodgerblue; height: 223px; width: 136px; }
}

@keyframes imageUnhighlight {
  from { border: 1px solid dodgerblue; height: 223px; width: 136px; }
  to { border: 1px solid white; height: 218px; width: 126px; }
}

.caption {
  height: 20px;
  width: 118px;
  padding: 5px;
  background-color: white;
}

.caption.highlight {
  animation-name: captionHighlight;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

.caption.unhighlight {
  animation-name: captionUnhighlight;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes captionHighlight {
  from { background-color: white; font-weight: normal; font-style: normal; color: black; padding-left: 5px }
  to { background-color: dodgerblue; font-weight: normal; font-style: italic; color: white; padding-left: 15px }
}

@keyframes captionUnhighlight {
  from { background-color: dodgerblue; font-weight: normal; font-style: italic; color: white; padding-left: 15px }
  to { background-color: white; font-weight: normal; font-style: normal; color: black; padding-left: 5px }
}